@import url("https://fonts.googleapis.com/css?family=Heebo");

body{
  margin: 0;
}
ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color:white;
  font-family:"Heebo", serif;
  font-weight:bold;
  color:black;
  position: static;
  top: 0;
  width: 100%;
  padding-left: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:white;
  text-decoration: line-through;
}

.active {
  background-color:white;

}

body{
  font-family: "Heebo",serif;
  color:black;
}


/* h1 {
  font-family:"Syncopate", monospace;
  margin-left: 30px;
  color:#374785;
}


h1 {
  font-family:"Syncopate", monospace;
  margin-left: 30px;
} */


#map {
  height: 500px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
vol{
  margin-left: 600px;
  vertical-align:top;
  text-align:center;
  background-color:#F8E9A1;
  color:#24305E;
  border-radius:10px;
  z-index:999;
  opacity:.75;
  height: 50%;
  font-size: 24px;
  width: 350px;
}
h2{
  font-family: "Heebo",serif;
  color:black;
  font-size:36px;
  margin-left:15px;
  display: inline-block;
  padding-left: 50px;
  letter-spacing:5px;
}
/* .header{
  border:none;
  background-color:#A8D0E6;
  width: 100%;
}
a {
    text-decoration:none;
    color:#24305E ;
}
a:hover{
  text-decoration: underline;
} */
#art{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align:top;
  background-color:#F8E9A1;
  color:#24305E;
  border-radius:10px;
  z-index:999;
  opacity:.75;
  height: 50%;
  font-size: 24px;
  width: 350px;
}
.cal{
  margin-left: 320px;
}
h3{
  display: inline-block;
  padding-left:20px;
  font-family:"Heebo", serif;
  font-weight:bold;
  color:white;

}
#space{
  display: inline-block;
  padding-right: 825px;
}

footer{
  background-color: black;
  text-align:center;
  color:white;
  letter-spacing: 5px;
  border:none;
  font-size:10px;
  bottom:0;
  left:0;
  position: static;
  width:100%;
}
h4{
  font-size: 14px;
  letter-spacing: 5px;
  font-weight:lighter;
}
