@import url("https://fonts.googleapis.com/css?family=Syncopate");
@import url("https://fonts.googleapis.com/css?family=Terminal+Dosis");

body {
  font-family:"Termianl Dosis", monospace;
}

#menubar{
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    background-color:transparent;
    font-color:black;
    position:left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: black;
    padding: 30px 20px;
    text-decoration: none;
    text-align:center;
}

li a.active {
    background-color: transparent;
    color: blue;
}

li a:hover:not(.active) {
    background-color: transparent;
    color: #A8D0E6;
}

h1 {
  font-family:"Syncopate", monospace;
  margin-left: 30px;
}


/* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> */
div {
  margin: 0;
  font-family:"Terminal Dosis", monospace;
}
/* Add a black background color to the top navigation bar */
/* .topnav {
  overflow: hidden;
  background-color: #e9e9e9;
} */
/* Style the links inside the navigation bar */
/* .topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */
/* Change the color of links on hover */
/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */
/* Style the "active" element to highlight the current page */
/* .topnav a.active {
  background-color: #2196F3;
  color: white;
} */

#news {
text-align: center;
}

#twitter-timeline {

}

table#News {
  width: 50%;
  margin-left: 40px;
  border-color: black;
  border-width: thick;
}
#bull{
  style= "width:30%
}
#search{
  style="padding-left:16px
}
