@import url("https://fonts.googleapis.com/css?family=Heebo");
ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color:white;
  font-family:"Heebo", serif;
  font-weight:bold;
  color:black;
  position: sticky;
  top: 0;
  width: 100%;
  padding-left: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:white;
  text-decoration: line-through;
}

.active {
  background-color:white;

}

body{
  font-family: "Heebo",serif;
  color:black;
}
h2{
  font-family: "Heebo",serif;
  color:black;
  font-size:36px;
  margin-left:15px;
  display: inline-block;
  padding-left: 50px;
  letter-spacing:5px;
}
h3{
  display: inline-block;
  padding-left:0px;
  font-family:"Heebo", serif;
  font-weight:bold;
  color:black;
}
a{
  text-decoration: none;
  color:black;
}
a:hover:not(.active){
  text-decoration:line-through;
}
#space{
  display: inline-block;
  padding-right:700px;
}

footer{
  background-color: black;
  text-align:center;
  color:white;
  letter-spacing: 5px;
  border:none;
  font-size:10px;
  bottom:0;
  left:0;
  position: static;
  width:100%;
}
h3{
  color: white;
}
h4{
  font-size: 14px;
  letter-spacing: 5px;
  font-weight:lighter;
}
h3{
  color:white;
}
#show {
  display:none;
  width:5000px;
  height:1000px;
}


#news {
  margin-left: 510px;
  margin-right: 300px;
  font-family: "Heebo",serif;
  margin-top:10px;
  text-align:center;
  width:100px;
  font-size:24px;
  z-index:999;
  border-radius:10px;
  color: black;

}

.twitter-timeline {
  max-width: 50% !important;
  margin-left:350px;
  margin-right:350px;
}

#bulletin{
  vertical-align:top;
  font-family: "Heebo", serif;
  text-align:center;
  background-color:white;
  color:black;
  border-radius:10px;
  z-index:999;
  height: 50%;
  font-size: 24px;
}
/* #art{
  font-size: 18px;
  color:#24305E;
  margin-top: 0px;
} */
#chat{
  font-size: 18px;
  color:black;
  margin-top: 0px;
}
/* #search{
  background: #A8D0E6;
  text-indent: 0px;
  width: 500px;
} */
/* #title{
  padding-right: 500px;
  background: #A8D0E6;
} */
/* a {
    text-decoration: none;
    color: black;
} */
/* .header{
  border:none;
  background-color:#A8D0E6;
  width: 100%;
} */

.dropbtn{
  background-color:white;
  color:black;
  padding:16px;
  font-size:20px;
  cursor:pointer;
  font-family:"Heebo", serif;
  border-radius: 10px;
}
.dropbtn:hover, .dropbtn:focus {
    background-color:white;
}

.dropbtn {
    position: relative;
    display: inline-block;
}

.articles{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:10px;
    font-family:"Heebo", serif;

}

.articles a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.articles a:hover {background-color:white;}

.show {display: block;}




.chatrooms{
  background-color:white;
  color:black;
  padding:16px;
  font-size:20px;
  cursor:pointer;
  font-family:"Heebo", serif;
  border-radius: 10px;

}
.chatrooms:hover, .chatrooms:focus {
    background-color:white;
}

.chats {
    position: relative;
    display: inline-block;
}

.chats {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.chats a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.chats a:hover {background-color: white;}

.shows{display: block;}
