@import url("https://fonts.googleapis.com/css?family=Syncopate");
@import url("https://fonts.googleapis.com/css?family=Terminal+Dosis");

body {
  font-family:"Termianl Dosis", monospace;
}

#menubar{
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    background-color:transparent;
    font-color:black;
    position:left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: black;
    padding: 30px 20px;
    text-decoration: none;
    text-align:center;
}

li a.active {
    background-color: transparent;
    color: #374785;
}

li a:hover:not(.active) {
    background-color: transparent;
    color: #A8D0E6;
}

h1 {
  font-family:"Syncopate", monospace;
  margin-left: 30px;
}


#news {
text-align: center;
}

#twitter-timeline {

}

table#News {
  width: 50%;
  margin-left: 40px;
  border-color: black;
  border-width: thick;
}
#bull{
  style= "width:30%
}
#search{
  style="padding-left:16px
}
