p{
  border-style:solid;
  border-width:8px;
  font-size:40px;
}
h1{
  font-size:40px;
  color:Black;
}

h2{
  font-size:30px;
}

function saveEdits(){
var editElem = documnet.getElementById("edit");
var userVersion = editElem.innerHTML;
localstorage.userEdits= userVersion;
document.getElementById("update").innerHTML="Edits saved!";
}
function checkEdits(){
  if(localStorage.userEdits!=null)
  document.getElementById("edit").innerHTML=localStorage.userEdits;
}
var editElem = document.getElementById("edit");
editElem.contentEditable="false";
