body{
  border-style:solid;
  border-width:8px;
  font-size:30px;
  color:black;
}
h1{
  font-size:40px;
  color:Black;
}

h2{
  font-size:35px;
  color:black;
}
button{
  color:green;
  width:90px;
  height:40px;
}
hr{
  display:block;
  border-width:5px;
  border-color:black;
}



table, th, tb{
  border: 3px solid Black;
  }
th, tb{
  padding: 35px;
}

#search{
  background: none;
  text-indent: 0px;
  width: 500px;
}
#title{
  padding-right: 500px;
}
#profile{
  width: 100%;
}
#profilerowcol{
  border: 3px solid Black;
  padding: 35px;
}
