@import url("https://fonts.googleapis.com/css?family=Syncopate");
@import url("https://fonts.googleapis.com/css?family=Dosis");

body {
  font-family:"Dosis", monospace;
}

#menubar{
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    background-color:transparent;
    color:#24305E;
    position:left;
    width: 200px;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family:"Dosis", monospace;
    color:#24305E;
    font-size: 25px;

}

li a {
    display: block;
    color:#24305E;
    padding: 30px 20px;
    text-decoration: none;
    text-align:center;
}

li a.active {
    background-color: transparent;
    color:#F76C6C;
}

li a:hover:not(.active) {
    background-color: transparent;
    color: #A8D0E6;
}

h1 {
  font-family:"Syncopate", monospace;
  margin-left: 30px;
  color:#374785
}

#rem {
  padding-left: 400px;
  padding-top: 50px;
}

ul.a {
    list-style-type: circle;
    width: 300px;
    padding-left: 350px;
}

#quotes {
  padding-right: 300px;
  text-align: right;
}

#per {
  padding-left: 300px;
}
a {
  color: darkblue;
}
a:hover {
  color: blue;
}

#essays {
  padding-left: 300px;
}

#motivation {
  padding-left: 800px;
}

#videos {
  size: 50%;
  padding-left: 800px;
}

#search{
  background: none;
  text-indent: 0px;
  width: 500px;
}
#title{
  padding-right: 500px;
}

#circles {
  margin-left: 500px;
  margin-right: 250px;
  font-family:"Dosis", monospace;
  margin-top:10px;
  text-align:center;
  width:400px;
  opacity:.75;
  background-color:#F8E9A1;
  opacity:.75;
  font-size:24px;
  z-index:999;
  border-radius:10px;
  color:#24305E;

}
#circle {
  margin-left: 300px;
  margin-right: 300px;
  font-family:"Dosis", monospace;
  margin-top:20px;
  text-align:center;
  width:400px;
  opacity:.75;
  background-color:#F8E9A1;
  opacity:.75;
  font-size:24px;
  z-index:800;
  border-radius:10px;
  color:#24305E;

}
#square {
  margin-left: 750px;
  font-family:"Dosis", monospace;
  margin-top:20px;
  text-align:center;
  width:400px;
  opacity:.75;
  background-color:#F8E9A1;
  opacity:.75;
  font-size:24px;
  z-index:800;
  border-radius:10px;
  color:#24305E;

}


.theshow {display:none;
  height:250px;
  width:350px;
}

.header{
  border:none;
  background-color:#A8D0E6;
  width: 100%;
}


.left{
  float:left;
  width:600px;
}

.right{
  float:right;
  margin-right:280px;
  width:340px;
}
